.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-bg {
    background-color: #F9F7F7;
}

.navbar-text {
    color: #112D4E;
}

.section-header {
    padding-top: 70px;
}

.profile-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    height: 250px;
    border-radius: 50%;
    border: 1px solid #112D4E;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-icon {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #112D4E;
    background-color: #DBE2EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button, .contact-button {
    background-color: #3F72AF;
    border-color: #112D4E;
    border-radius: 5px;
    color: #F9F7F7;
}